
@model IEnumerable<BelibaHoma.BLL.Models.JobOfferModel>
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2 align="center"><b>משרות</b></h2>

    <p>
        @Html.ActionLink("הוסף משרה", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <!-- <th>  -->
            <!--   ////Html.DisplayNameFor(model => model.UpdateTime) -->
            <!--</th>-->
            <!-- <th>  -->
            <!--////Html.DisplayNameFor(model => model.CreationTime)-->
            <!--</th>-->
            <th>
                @Html.DisplayNameFor(model => model.JobArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicMajor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicMajor1.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicMajor2.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <!--<th>
                //Html.DisplayNameFor(model => model.Address)
            </th>-->
            <!--<th>
                //Html.DisplayNameFor(model => model.NumEmployees)
            </th>
            <th>
                //Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                //Html.DisplayNameFor(model => model.ContactMail)
            </th>
            <th>
                //Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                //Html.DisplayNameFor(model => model.ContactJobPosition)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <!--<td>
                    //item.UpdateTime.ToLongDateString()
                </td>
                <td>
                    //item.CreationTime.ToLongDateString()
                </td>-->
                <td>
                    @item.JobArea.ToDescription()
                </td>
                <td>
                    @item.Requirements.ToString()
                </td>
                <td>
                    @item.Description.ToString()
                </td>
                <td>
                    @item.AcademicMajor.Name
                </td>
                <td>
                    @{
            if (item.AcademicMajor1 != null)
            {
                @item.AcademicMajor1.Name
            }
                    }
                </td>
                <td>
                    @{
            if (item.AcademicMajor2 != null)
            {
                @item.AcademicMajor2.Name
            }
                    }
                </td>
                <td>
                    @item.Organization.ToString()
                </td>
                <td>
                    @item.JobType.ToDescription()
                </td>
                <!--<td>
                   //item.Address.ToString()
                </td>
                <td>
                    //item.NumEmployees.ToString()
                </td>
                <td>
                    //item.ContactName.ToString()
                </td>
                <td>
                    //item.ContactMail.ToString()
                </td>
                <td>
                    //item.ContactPhone.ToString()
                </td>
                <td>
                    //item.ContactJobPosition.ToString()
                </td>-->
                <td>
                    @item.JobStatus.ToDescription()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>