@using BelibaHoma.BLL.Enums
@model BelibaHoma.BLL.Models.TutorSessionModel

@{
    Layout = null;
    var isRackaz = ViewBag.IsRackaz; //change to addministrator aswell later on
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="direction: rtl">
        @*<h4>משרה</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            <label class="control-label col-md-2">,תיאור המפגשים:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TutorReport.MeetingsDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TutorReport.MeetingsDescription, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2">תאריך המפגש:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">זמן תחילת המפגש :</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">זמן סיום המפגש : </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">מספר שעות חברותה : </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumBondingHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumBondingHours, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<input type="hidden"
               value="TutorReportId">*@
        <input type="hidden" name="TutorReportId" id="TutorReportId" value="@Model.TutorReportId"/>

        @Html.HiddenFor(model=> model.TutorReport.TutorTraineeId)

        @*TODO: add this to the model by the given parameters from tutorReport*@ 
        @*<div class="form-group">
            <label class="control-label col-md-2">תז דוח חונך : </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TutorReportId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TutorReportId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">מקום המפגש : </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingPlace, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

@*<div>
        @Html.ActionLink("Back to List", "Index", new { Area = "Trainee" })
    </div>*@