@model BelibaHoma.BLL.Models.UserModel
@using BelibaHoma.BLL.Enums
@{
    Layout = null;
}
<div class="navbar-default">
    @*<span class="icon-bar"></span>*@
    <ul id="main-menu" class="nav navbar-nav">
        @*<li>@Html.ActionLink("על התוכנית", "About", "Home")</li>
        <li>@Html.ActionLink("פרטי קשר", "Contact", "Home")</li>*@
        @if (Model != null)
        {
            // Add Admin & Rackaz related links here
            if (Model.UserRole == UserRole.Admin || Model.UserRole == UserRole.Rackaz)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ניהול משתמשים<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Rackaz/User">משתמשי אדמין ורכזים</a></li>
                        <li><a href="/Rackaz/Trainee">חניכים</a></li>
                        <li><a href="/Rackaz/Tutor">חונכים</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ניהול ישויות עזר <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Rackaz/AcademicInstitution">מוסדות אקדמאים</a></li>
                        <li><a href="/Rackaz/AcademicMajor">מסלולי לימוד</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ניהול קשרי חונכות <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Rackaz/TutorTrainee"> קשרי חונכות</a></li>
                        <li><a href="/Rackaz/TutorTrainee/ManualMatch"> ציוות ידני</a></li>
                        <li><a href="/Rackaz/TutorTrainee/RunAlgorithm">ציוות אוטומטי</a></li>
                        <li><a href="/Rackaz/TutorTrainee/ApproveMatches">המלצות המערכת לקשרי חונכות</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ניהול התרעות<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="/Rackaz/Alert">לוח התרעות</a></li>
                        <li><a href="/Rackaz/Alert/AlertArchive">ארכיון התרעות</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("ניהול משרות", "Index", "JobOffer", new {Area = "Trainee"}, new object {})</li>
                <li>@Html.ActionLink("חיזוי נשירה", "Predict", "Prediction", new {Area = "Rackaz"}, new object {})</li>
            }

            // Add Tutor related links here
            if (Model.UserRole.ToString() == "Tutor")
            {
                var id = Model.Id;
                var action = "Details/" + id;
                <li>@Html.ActionLink("פרטים אישיים", "Details/" + id, "Tutor", new {Area = "Tutor"}, new object {})</li>
                <li>@Html.ActionLink("קשרי חניכה", "Index/" + id, "TutorTrainee", new {Area = "Tutor"}, new object {})</li>
            }

            // Add Trainee related links here
            if (Model.UserRole.ToString() == "Trainee")
            {
                var id = Model.Id;
                var action = "Details/" + id;
                <li>@Html.ActionLink("פרטים אישיים", action, "Trainee", new {Area = "Trainee"}, new object {})</li>
                <li>@Html.ActionLink("חיפוש משרות", "Index", "JobOffer", new {Area = "Trainee"}, new object {})</li>
                <li>@Html.ActionLink("ציונים", "Index", "Grade",new { id = @Model.Id }, null)</li>
            }

        }
    </ul>
    <div class="pull-left">
        @if (Model != null)
        {
            <span><b>@String.Format("שלום {0}", Model.FullName)</b></span>
            <a href="/Login/Logout" class="logon-link">התנתק</a>
            // @Html.ActionLink("התנתק", "Logout", "Login", new { id=string.Empty }, null)
        }
        else
        {
            @Html.ActionLink("התחבר", "Index", "Login")
        }
    </div>
</div>

