@model IEnumerable<BelibaHoma.BLL.Models.UserModel>
@using System.Configuration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/datatable/css")
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/zero-password.js"></script>
    <script src="~/Scripts/user-index.js"></script>
}
<div class="well">
    <h2 align="center"><b>משתמשי אדמין ורכזים</b></h2>
    @{
        if (ViewBag.IsRackaz == false)
        {
            <p>
                @*@Html.ActionLink("הוסף משתמש", "Create", "User", new { Area = "Admin" }, new object { })*@
                <a class="btn btn-default" href="/Admin/User/Create">הוסף משתמש</a>
            </p>
        }
    }
    <table class="table" id="users-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th id="is-active">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th id="actions">פעולות</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @item.UserRole.ToDescription()
                    </td>
                    <td>
                        @{
                if (item.Area != null)
                {
                    @item.Area.ToDescription()
                }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @{
                if (item.IsActive == true)
                {
                    @String.Format("פעיל")
                    ;
                }
                else
                {
                    @String.Format("לא פעיל")
                    ;
                }
                        }
                    </td>
                    <td>
                        @{
                if (ViewBag.IsRackaz != true)
                {
                    @*@Html.ActionLink("עריכת משתמש", "Edit", new { Area = "Admin", id = item.Id })*@
                    <a class="btn btn-default btn-xs" href="/Admin/User/Edit/@item.Id">עריכת משתמש</a>
                    @Html.Raw(" |")
                }
                <a class="btn btn-default btn-xs zero-password" data-userid="@item.Id">אפס סיסמא</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>