@model IEnumerable<BelibaHoma.BLL.Models.UserModel>
@using System.Configuration

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link href="~/Scripts/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
}


@section scripts
{
    <script src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script>
        $('#users-table')
            .DataTable({
                language: {
                    url: "/Scripts/datatable/language/hebrew.json"
                },
                initComplete: function() {
                    this.api()
                        .columns()
                        .every(function() {
                            var column = this;
                            var isActiveSelect = false;
                            if ($(this.header()).attr('id') === "is-active") {
                                isActiveSelect = true;
                            }
                            var select = $('<select class="form-control"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change',
                                    function() {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                            column.data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    var option = '<option ';
                                    if (isActiveSelect && d === "פעיל") {
                                        option += ' selected="selected" ';
                                    }
                                    option += 'value="' + d + '">' + d + '</option>';
                                    select.append(option);
                                });

                            
                        });
                    var val = 'פעיל';
                    this.api().columns(5).search('^' + val + '$', true, false)
                                            .draw();
                }
            });
    </script>
}

<h2>משתמשי אדמין ורכזים</h2>

@{
    if (ViewBag.IsRackaz == false)
    {
        <p>
            @Html.ActionLink("הוסף משתמש", "Create", "User", new { Area = "Admin" }, new object { })
        </p>
    }
}

<table class="table" id="users-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th id="is-active">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @item.UserRole.ToDescription()
                </td>
                <td>
                    @{
                        if (item.Area != null)
                        {
                            @item.Area.ToDescription()
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @{
                        if(item.IsActive == true)
                        {
                            @String.Format("פעיל");
                        }
                        else
                        {
                            @String.Format("לא פעיל");
                        }
                    }
                </td>
                <td>
                    @{
                        if(ViewBag.IsRackaz != true)
                        {
                            @Html.ActionLink("ערוך פרטי משתמש", "Edit", new { Area = "Admin", id = item.Id })
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>