@using BelibaHoma.BLL.Enums
@using BelibaHoma.BLL.Models
@model IEnumerable<BelibaHoma.BLL.Models.GradeModel>
@{
    var user = ViewBag.CurrentUser as UserModel;
}
<div class="well">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemesterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade1)
        </th>
        @*//TODO: remove comment after year will be added to the database*@
        @*<th>
            @Html.DisplayNameFor(model => model.Year)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterType)
        </th>


        

        <th>
            
        </th>
    </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade1)
        </td>
        @*//TODO: remove comment after year will be added to the database*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>*@
        
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @item.SemesterType.ToDescription()
        </td>
        <td>
            
            @{

                if (user != null && (user.UserRole == UserRole.Admin || user.UserRole == UserRole.Rackaz))
                {
                @Html.ActionLink("מחיקה", "Delete", new { id = item.TraineeId, semesterNumber = item.SemesterNumber /* id=item.PrimaryKey */}) @Html.Raw(" |")


                }
            }
                    @Html.ActionLink("עריכה", "Edit", new { id = item.TraineeId, semesterNumber = item.SemesterNumber/* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
</div>