@model BelibaHoma.BLL.Models.JobOfferModel
@using System.Globalization
@using BelibaHoma.BLL.Enums
@using Extensions.Enums


@{
    ViewBag.Title = "פרטי משרה";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo ci = new CultureInfo("he-IL");
}
<div class="well">

    <h2 align="center"><b>פרטי משרה</b>
    </h2>

    @*@Html.ActionLink("בחזרה לרשימה", "Index", "JobOffer", new {Area = "Trainee"})*@
    <a class="btn btn-info" href="/Trainee/JobOffer/Index">בחזרה ללוח המשרות</a>
    @{
        if (ViewBag.IsTrainee != true)
        {
            @Html.Raw("|")
            @*@Html.ActionLink("עריכה", "Edit", new {Area = "Rackaz", id = Model.Id})*@
            <a class="btn btn-default" href="/Rackaz/JobOffer/Edit/@Model.Id">ערוך משרה</a>
        }
    }
    <hr/>
    <h3> <b> @Html.DisplayFor(modelItem => Model.JobTitle)</b></h3>
    <dl class="dl-horizontal row">

        @*<table class="table">*@
        @*<tr>*@
        <div class="col-md-6">
            <div class="row">

        @*<dt class="col-md-6">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>*@



        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Model.UpdateTime.ToString(ci)
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Model.CreationTime.ToString(ci)
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.JobArea)
        </dt>
        <dd>
            @Model.JobArea.ToDescription()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.AcademicMajor.Name)
        </dt>
        <dd>
            @Model.AcademicMajor.Name
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.AcademicMajor1.Name)
            @*@Html.DisplayNameFor(model => model.RelevantMajorId2)*@
        </dt>
        <dd>
            @(Model.AcademicMajor1 != null ? Model.AcademicMajor1.Name : String.Empty)
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.AcademicMajor2.Name)
            @*@Html.DisplayNameFor(model => model.RelevantMajorId3)*@
        </dt>
        <dd>
            @(Model.AcademicMajor2 != null ? Model.AcademicMajor2.Name : String.Empty)
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Model.Organization.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd>
            @Model.JobType.ToDescription()
        </dd>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                
                
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Model.Address.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.NumEmployees)
        </dt>
        <dd>
            @Model.NumEmployees.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd>
            @Model.ContactName.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.ContactMail)
        </dt>
        <dd>
            @Model.ContactMail.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd>
            @Model.ContactPhone.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.ContactJobPosition)
        </dt>
        <dd>
            @Model.ContactJobPosition.ToString()
        </dd>
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd>
            @Model.JobStatus.ToDescription()
        </dd>
            </div>
        </div>
    </dl>
<div class="panel panel-default">
    <div class="panel-heading">@Html.DisplayNameFor(model => model.Requirements)</div>
    <div class="panel-body">
        @Model.Requirements
    </div>
</div>
    <div class="panel panel-default">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.Description)</div>
        <div class="panel-body">
           @Model.Description
        </div>
    </div>

            <dd>


        </dd>


</div>