@using BelibaHoma.BLL.Enums
@using Extensions.Enums
@model BelibaHoma.BLL.Models.TutorModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2><b>פרטי החונך</b></h2>
    <div>
        <hr />
        @{
            if (ViewBag.IsTutor == false)
            {
                var id = Model.UserId;
                var action = "Edit/" + id;
                <a class="btn btn-info" herf="/Rackaz/Tutor/index">לרשימת החונכים</a>
                @Html.Raw("|")
                <a class="btn btn-default" herf="/Rackaz/Tutor/@action">עריכה</a>
            }
        }
    </div>
    <br />
    <div class="panel panel-success" style="background-color: #e6ffe6">
        <center>
            <h4 style="color: darkgreen">עד כה נרשמו עבור @Model.FullName <b>@Model.TutorHours</b> שעות חניכה, מתוכן <b>@Model.TutorHoursBonding</b> שעות חברותא</h4>
        </center>
    </div>

        <dl class="dl-horizontal">
            <dd>
                <h3>פרטים אישיים</h3>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.IdNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.IdNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd>
                @Model.Gender.ToDescription()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dd>
                <h3>פרטי התקשרות</h3>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Area)
            </dt>
            <dd>
                @Model.User.Area.ToDescription()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dd>
                <h3>מידע אקדמי</h3>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AcademicInstitution)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AcademicInstitution.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AcademicMajor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AcademicMajor.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AcademicMajor1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AcademicMajor1.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AcademicYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SemesterNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SemesterNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EnglishLevel)
            </dt>
            <dd>
                @Model.EnglishLevel.ToDescription()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MathLevel)
            </dt>
            <dd>
                @Model.MathLevel.ToDescription()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhysicsLevel)
            </dt>
            <dd>
                @Model.PhysicsLevel.ToDescription()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TutorHours)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TutorHours)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TutorHoursBonding)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TutorHoursBonding)
            </dd>
        </dl>