@model BelibaHoma.Areas.Rackaz.Models.AlertViewModel
@using Extensions.Enums
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "AlertArchive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/bundles/datatable/css")
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/alert-archive.js"></script>
}

<div class="well">
<br/>
<center>
    <h1><b>ארכיון התרעות</b>
    </h1> </center>
    <hr/>
<div class="row">
    <div class="panel panel-default col-md-6 panel-height">
        <div class="panel-heading">
            <h4>חונכים מאחרים בדיווח</h4>
        </div>
        <br />
        <table class="table" id="Late-Tutors-a-table">
            <thead>
                <tr>
                    <th>
                        שם החונך
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions">הערות</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        שם החונך
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions"></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model.LateTutor)
                {
                    <tr class="table" style="background-color: gainsboro">
                        <td>
                            <a href="/Tutor/Tutor/Details/@item.Tutor.UserId" target="_blank">@Html.DisplayFor(modelItem => item.Tutor.User.FullName)</a>
                        </td>
                        @if (ViewBag.IsRackaz == false)
                        {
                            <td>
                                @item.Area.ToDescription()
                            </td>
                        }
                        <td>
                            <a class="btn btn-warning btn-xs show-notes" data-id="@item.Id" data-toggle="modal" data-target="#myModal" href="/Rackaz/Alert/GetArchivedAlert?alertId=@item.Id">צפייה בהערות</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="panel panel-default col-md-6 panel-height">
        <div class="panel-heading">
            <h4>דרושה התערבות</h4>
        </div>
        <br />
        <table class="table" id="Intervention-a-Table">
            <thead>
                <tr>
                    <th>
                        שם החניך
                    </th>
                    <th>
                        עבור לדיווח
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions">הערות</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        שם החניך
                    </th>
                    <th>
                        עבור לדיווח
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions">הערות</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model.TutorReport)
                {
                    <tr class="table" style="background-color: gainsboro">
                        <td>
                            <a href="/Trainee/Trainee/Details/@item.TutorReport.TutorTrainee.TraineeId" target="_blank">@item.TutorReport.TutorTrainee.Trainee.User.FullName</a>
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" href="/Tutor/TutorSession/Details/@item.TutorReport.Id" target="_blank">עבור לדיווח</a>
                        </td>
                        @if (ViewBag.IsRackaz == false)
                        {
                            <td>
                                @item.Area.ToDescription()
                            </td>
                        }
                        <td>
                            <a class="btn btn-warning btn-xs show-notes" data-id="@item.Id" data-toggle="modal" data-target="#myModal" href="/Rackaz/Alert/GetArchivedAlert?alertId=@item.Id">צפייה בהערות</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="panel panel-default panel-height">
        <div class="panel-heading">
            <h4>ציוני חניכים</h4>
        </div>
        <br />
        <table class="table" id="Trainee-Grade-a-Table">
            <thead>
                <tr>
                    <th>
                        שם החניך
                    </th>
                    <th>
                        עבור לציונים
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions">הערות</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        שם החניך
                    </th>
                    <th>
                        עבור לציונים
                    </th>
                    @{
                        if (ViewBag.IsRackaz == false)
                        {
                            <th>
                                אזור
                            </th>
                        }
                    }
                    <th id="actions">הערות</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model.TraineeGrade)
                {
                    <tr class="table" style="background-color: gainsboro">
                        <td>
                            <a href="/Trainee/Trainee/Details/@item.Trainee.UserId" target="_blank">@item.Trainee.User.FullName)</a>
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" href="/Trainee/Grade/Index/@item.Trainee.UserId" target="_blank">עבור לציונים</a>
                        </td>
                        @if (ViewBag.IsRackaz == false)
                        {
                            <td>
                                @item.Area.ToDescription()
                            </td>
                        }
                        <td>
                            <a class="btn btn-warning btn-xs show-notes" data-id="@item.Id" data-toggle="modal" data-target="#myModal" href="/Rackaz/Alert/GetArchivedAlert?alertId=@item.Id">צפייה בהערות</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<!-- /.modal -->