@model IEnumerable<BelibaHoma.BLL.Models.TutorTraineeModel>
@using Extensions.Enums

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2>קשרי חונכות</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trainee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainee.FullName)
                </td>
                <td>
                    @item.Status.ToDescription()
                </td>
                <td>
                    @Html.ActionLink("דיווחי חונכות", "TutorTraineeReports", "TutorReport", new { id = item.Id }, null)|
                    @Html.ActionLink("הוסף דיווח", "Create", "TutorReport", new { tutorTraineeId = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>