@model BelibaHoma.Areas.Rackaz.Models.TutorTraineeApproveViewModel
@{
    Layout = null;
}

    <link href="~/Content/Site.css" rel="stylesheet"/>


<script src="~/Scripts/tutor-trainee-approve.js"></script>

    <p>
        @*@Html.ActionLink("עבור לציוות ידני", "ManualMatch", "TutorTrainee")*@
        <a class="btn btn-default" href="/Rackaz/TutorTrainee/ManualMatch">עבור לציוות ידני</a>
    </p>
<table class="table" id="tutortrainee-unapproved-table">
    <thead>
    <tr>
        <th>
            שם החונך
        </th>
        <th>
            מסלול ראשי
        </th>
        <th>
            שם החניך
        </th>
        <th>
            עזרה נדרשת
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.MatchesList)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.TutorTrainee.Tutor.FullName)*@
                @Html.ActionLink(@item.TutorTrainee.Tutor.FullName, "Details", new { Area = "Tutor", id = item.TutorTrainee.TutorId }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorTrainee.Tutor.AcademicMajor.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.TutorTrainee.Trainee.FullName)*@
                @Html.ActionLink(@item.TutorTrainee.Trainee.FullName, "Details", new { Area = "Trainee", id = item.TutorTrainee.TraineeId}, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorTrainee.Trainee.NeededHelpDescription)
            </td>
            <td>
                <a class="btn btn-success btn-sm approve-match" data-tutortraineeid="@item.TutorTrainee.Id">אשר</a> |
                <a class="btn btn-danger btn-sm decline-match" data-tutortraineeid="@item.TutorTrainee.Id">דחה</a>
            </td>
        </tr>
    }
    </tbody>
</table>
