@model IEnumerable<BelibaHoma.BLL.Models.TutorTraineeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/datatable/css")
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/tutortrainee-index.js"></script>
}
<div class="well">
<h2>קשרי חונכות</h2>

<p>
    @*//TODO: Make this the actual link to the manual matching interface*@ 
    @Html.ActionLink("עבור לציוות ידני", "ManualMatch", "TutorTrainee")
</p>
<input type="hidden" id="column-value" value="@(ViewBag.IsRackaz ? 5 : 6)" />
<table class="table" id="tutortrainee-table">
    <thead>
    <tr>
        <th>
            שם החונך
        </th>
        <th>
            מסלול ראשי
        </th>
        <th>
            שם החניך
        </th>
        <th>
            פירוט העזרה הנדרשת
        </th>
        <th id="is-active">
            @Html.DisplayNameFor(model => model.Status)
        </th>

        @{
            if (ViewBag.IsRackaz != true)
            {
                <th id="is-area">
                    @Html.DisplayNameFor(model => model.Trainee.User.Area)
                </th>
            }
        }
        <th id="actions">
            פעולות
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutor.AcademicMajor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainee.NeededHelpDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        @{
            if (ViewBag.IsRackaz != true)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.User.Area)
                </th>
            }
        }
        <th></th>
    </tr>
    </tfoot>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Tutor.FullName, "Details", "Tutor", new { Area = "Tutor", id = item.Tutor.User.Id }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.AcademicMajor.Name)
            </td>
            <td>
                @Html.ActionLink(@item.Trainee.FullName, "Details", "Trainee", new { Area = "Trainee", id = item.Trainee.User.Id }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainee.NeededHelpDescription)
            </td>
            <td>
                @item.Status.ToDescription()
            </td>

            @{
                if (ViewBag.IsRackaz != true && item.Trainee.User.Area != null)
                {
                    <td>
                        @item.Trainee.User.Area.ToDescription()
                    </td>
                }
            }
            @*<td>
                @{
                    if (item.IsException == true)
                    {
                        @String.Format("ציוות חריג")
                        ;
                    }
                    else
                    {
                        @String.Format("")
                        ;
                    }
                }
            </td>*@
            <td>
                @Html.ActionLink("עריכת קשר", "Edit", new {Area = "Rackaz", id = item.Id}) |
                @Html.ActionLink("צפייה בדיווחים", "TutorTraineeReports", "TutorReport", new { Area = "Tutor", id = item.Id}, new {target = "_blank"})


            </td>
        </tr>
    }
    </tbody>

</table>
</div>