@model IEnumerable<BelibaHoma.BLL.Models.TraineeMatchViewModel>
@using System.Configuration


@{
    Layout = null;
}

@section styles {
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<script src="~/Scripts/ManualMatchTraineeSelect.js"></script>

    <h2>חניכים</h2>
    <table class="table" id="trainees-partial-table">
        <thead>
            <tr>
                <th>
                    חניך
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.FullName)
                </th>
                <th>
                    פירוט עזרה נדרשת
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicInstitution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicMajor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicMajor1)
                </th>
                <th class="hidden"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    חניך
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.FullName)
                </th>
                <th>
                    פירוט עזרה נדרשת
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicInstitution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicMajor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trainee.AcademicMajor1)
                </th>
                <th class="hidden"></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.IsMatchedCount > 0 ? "table-danger" : (item.IsUnAuthMatch > 0 ? "table-warning" : ""))">
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="ChooseTrainee" id="trainee_@item.Trainee.UserId" value="@item.Trainee.UserId">
                        </label>
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Trainee.FullName)*@
                        @Html.ActionLink(@item.Trainee.FullName, "Details", "Trainee", new { Area = "Trainee", id = item.Trainee.User.Id }, new { target = "_blank" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.NeededHelpDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.AcademicInstitution.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.AcademicMajor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trainee.AcademicMajor1.Name)
                    </td>
                    <td class="hidden">
                        <input name="trainee-matched-count-@item.Trainee.UserId" id="trainee-matched-count-@item.Trainee.UserId" value=@item.IsMatchedCount />
                        <input name="trainee-unapproved-@item.Trainee.UserId" id="trainee-unapproved-@item.Trainee.UserId" value=@item.IsUnAuthMatch />
                    </td>
                </tr>
            }
        </tbody>
    </table>
