@model BelibaHoma.BLL.Models.AcademicMajorModel
@using BelibaHoma.BLL.Enums

@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="well">
        <div class="form-horizontal" style="direction: rtl">
            <h4>מסלול לימוד</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <label class="control-label col-md-2">שם המסלול :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">אשכול לימוד :</label>
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.AcademicCluster, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.AcademicCluster, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור מסלול אקדמי" class="btn btn-default"/>
                </div>
                    </div>
               </div>
               </div>
            }

                <div>
                <a class="btn btn-default" href="/Rackaz/AcademicMajor/Index">חזור לרשימה</a>
            </div>

