@model IEnumerable<BelibaHoma.BLL.Models.AcademicMajorModel>
@using BelibaHoma.BLL.Enums

@{
    ViewBag.Title = "צפייה במסלולי לימוד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/bundles/datatable/css")
}

@section scripts{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/academic-major.js"></script>
}

<div class="well">
    <h2 align="center"><b>מסלולי לימוד</b></h2>

    <p>
        @*@Html.ActionLink("הוסף מסלול אקדמי", "Create")*@
        <a class="btn btn-default" href="/Rackaz/AcademicMajor/Create">הוסף מסלול אקדמי</a>
    </p>
    <table class="table" id="academic-major-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AcademicCluster)
                </th>
                <th id="actions"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AcademicCluster)
                </th>
                <th id="actions"></th>
            </tr>
        </tfoot>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.AcademicCluster.ToDescription()
                </td>
                <td>

                    <a class="btn btn-default btn-xs" href="/Rackaz/AcademicMajor/Edit/@item.Id">עריכה</a>
                </td>
            </tr>
        }

    </table>
</div>