@using BelibaHoma.BLL.Enums
@model IEnumerable<BelibaHoma.BLL.Models.TutorReportModel>

@{
    ViewBag.Title = "דיווחי חניך";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/datatable/css")
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/tutor-trainee-reports.js"></script>
}

<div class="well">
    <h2>דיווחים אודות החניך</h2>

    <div class="panel-danger">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-flag pull-right" aria-hidden="true"></span>
            <b>שים לב!</b> דיווחים המסומנים באדום הינם דיווחים שסומנו כדורשים התערבות
        </div>
    </div>
    <br>
    <table class="table" id="tutor-trainee-reports-table">
        <thead>
        <tr>
            @*TODO: Fix it*@
            @*<th>
                    @Html.DisplayNameFor(model => model.TutorTrainee.Trainee.User.FirstName)
                </th>*@
            <th>
                שם חניך
            </th>
            <th>
                שם חונך
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorHoursBonding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th id="actions">פעולות</th>
        </tr>
        </thead>
        <tfoot>
            <tr>
                @*TODO: Fix it*@
                @*<th>
                    @Html.DisplayNameFor(model => model.TutorTrainee.Trainee.User.FirstName)
                </th>*@
                <th>
                    שם חניך
                </th>
                <th>
                    שם חונך
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TutorHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TutorHoursBonding)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationTime)
                </th>
                <th id="actions">פעולות</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class=@(item.IsProblem ? "table-danger" : "")>
                    @*TODO:FIX it*@
                    <td>
                        @{
                if (ViewBag.CurrentUser.UserRole == UserRole.Tutor)
                {
                    @Html.DisplayFor(modelItem => item.TutorTrainee.Trainee.User.FullName)
                }
                else
                {
                    @Html.ActionLink(@item.TutorTrainee.Trainee.User.FullName, "Details", "Trainee", new { Area = "Trainee", id = item.TutorTrainee.Trainee.User.Id }, new { target = "_blank" })
                }
                        }
                    </td>
                    <td>
                        @{
                if (ViewBag.CurrentUser.UserRole == UserRole.Tutor)
                {
                    @Html.DisplayFor(modelItem => item.TutorTrainee.Tutor.User.FullName)
                }
                else
                {
                    @Html.ActionLink(@item.TutorTrainee.Tutor.User.FullName, "Details", "Tutor", new { Area = "Tutor", id = item.TutorTrainee.Tutor.User.Id }, new { target = "_blank" })
                }
                        }
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.TutorHours)*@
                        @String.Format("{0:F2}", item.TutorHours)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.TutorHoursBonding)*@
                        @String.Format("{0:F2}", item.TutorHoursBonding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>

                        @if (item.TutorHours > 0)
                        {
                            @*@Html.ActionLink("פרטים נוספים", "Details", "TutorSession",new { Area = "Tutor", id = item.Id }, new { target = "_blank" })*@
                            <a class="btn btn-default btn-xs" href="/Tutor/TutorSession/Details/@item.Id" target="_blank">פרטי דיווח</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-default" href="/Rackaz/TutorTrainee/Index">קשרי חונכות</a>

</div>
 