@model IEnumerable<BelibaHoma.BLL.Models.TutorReportModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>דיווחים</h2>

<p>
    @Html.ActionLink("הוסף דיווח", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TutorTraineeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TutorHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TutorHoursBonding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingsDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProblem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorTraineeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorHoursBonding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProblem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})|
                @Html.ActionLink("הוסף מפגש", "Create", "TutorSession", new { id = item.Id})
                @*????TODO: need to add new tutor session*@

            </td>
        </tr>
    }

</table>