@model IEnumerable<BelibaHoma.BLL.Models.TutorReportModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <h2>דיווחים</h2>
    @*<p>
        @Html.ActionLink("הוסף דיווח", "Create")
    </p>*@
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TutorTrainee.Trainee.User.FirstName)
            </th>*@

            <th>
                שם חניך
            </th>
            <th>
                שם חונך
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TutorTrainee.Tutor.User.FirstName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TutorHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorHoursBonding)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsProblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @*TODO:FIX it*@
                @if (item.TutorTrainee.Trainee.User.FirstName != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TutorTrainee.Trainee.User.FirstName)
                        </td>
                    }

                <td>
                    @Html.DisplayFor(modelItem => item.TutorTrainee.Tutor.User.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TutorHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TutorHoursBonding)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsProblem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    @Html.ActionLink("עריכה", "Edit", new { id = item.Id })|
                    
                    @Html.ActionLink("הוסף מפגש", "Create", "TutorSession", new { id = item.Id }, null)|
                    @if (item.TutorHours > 0)
                    {
                        @Html.ActionLink("פרטים נוספים", "Details", "TutorSession", new {id = item.Id}, null)
                    }
                </td>
            </tr>
        }
    </table>
</div>