@using System.Runtime.InteropServices
@using BelibaHoma.BLL.Enums
@model IEnumerable<BelibaHoma.BLL.Models.TutorReportModel>

@{
    ViewBag.Title = "ToturTraineeReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tutorTraineeId = ViewBag.TutorTraineeId;
}
<div class="well">
    <h2>דיווחים</h2>
    <p>
        @*@Html.ActionLink("הוסף דיווח", "Create", new {tutorTraineeId = tutorTraineeId})*@
        <a class="btn btn-default" href="/Tutor/TutorReport/Create/?tutorTraineeId=@tutorTraineeId">הוסף דיווח</a>
    </p>
    <table class="table">
        <tr>
            @*TODO: Fix it*@
            @*<th>
                @Html.DisplayNameFor(model => model.TutorTrainee.Trainee.User.FirstName)
            </th>*@
            <th>
                שם חניך
            </th>
            <th>
                שם חונך
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorHoursBonding)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsProblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @*TODO:FIX it*@
                <td>
                    @{
                        if (ViewBag.CurrentUser.UserRole == UserRole.Tutor)
                        {
                            @Html.DisplayFor(modelItem => item.TutorTrainee.Trainee.User.FullName)
                        }
                        else
                        {
                            @Html.ActionLink(@item.TutorTrainee.Trainee.User.FullName, "Details", "Trainee", new { Area = "Trainee", id = item.TutorTrainee.Trainee.User.Id }, new { target = "_blank" })
                        }
}              
                </td>
                <td>
                    @{
            if (ViewBag.CurrentUser.UserRole == UserRole.Tutor)
            {
                @Html.DisplayFor(modelItem => item.TutorTrainee.Tutor.User.FullName)
            }
            else
            {
                @Html.ActionLink(@item.TutorTrainee.Tutor.User.FullName, "Details", "Tutor", new { Area = "Tutor", id = item.TutorTrainee.Tutor.User.Id }, new { target = "_blank" })
            }
                    }
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TutorHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TutorHoursBonding)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsProblem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    @*@Html.ActionLink("עריכה", "Edit", new {id = item.Id})*@
                    <a class="btn btn-default btn-xs" href="/Tutor/TutorReport/Edit/@item.Id">עריכת דיווח</a>
                    @Html.Raw("|")
                    @*@Html.ActionLink("הוסף מפגש", "Create", "TutorSession", new {id = item.Id}, null)*@
                    <a class="btn btn-default btn-xs" href="/Tutor/TutorSession/Create/@item.Id">הוסף מפגש</a>
                    @if (item.TutorHours > 0)
                    {
                        @Html.Raw("|")
                        @*@Html.ActionLink("פרטים נוספים", "Details", "TutorSession", new {id = item.Id}, null)*@
                        <a class="btn btn-default btn-xs" href="/Tutor/TutorSession/Details/@item.Id">פרטים</a>
                    }

                </td>
            </tr>
        }
    </table>
    @{
        if (ViewBag.IsTutor == false)
        {
            <a class ="btn btn-default" href="/Rackaz/TutorTrainee/Index">חזור לקשרי חונכות</a>
        }
        else
        {
            <a class="btn btn-default" href="/Tutor/TutorTrainee/Index/@ViewBag.TutorId">חזור לקשרי חונכות</a>
        }
}
</div>

