@model IEnumerable<BelibaHoma.BLL.Models.AcademicInstitutionModel>

@{
    ViewBag.Title = "צפייה במוסדות הלימוד";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/bundles/datatable/css")
}

@section scripts{
    @Scripts.Render("~/bundles/datatable/js")
    <script src="~/Scripts/academic-inst.js"></script>
}

<div class="well">
    <h2 align="center"><b>מוסדות אקדמאים</b></h2>

    <p>
        @*@Html.ActionLink("הוסף מוסד אקדמי", "Create", new { @class = "btn"})*@
        <a class="btn btn-default" href="/Rackaz/AcademicInstitution/Create">הוסף מוסד אקדמי</a>
    </p>
    <table class="table" id="academic-inst-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstitutionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th id="actions"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstitutionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th id="actions"></th>
            </tr>
        </tfoot>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.InstitutionType.ToDescription()
                </td>
                <td>
                    @item.Area.ToDescription()
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="/Rackaz/AcademicInstitution/Edit/@item.Id">עריכה</a>
                </td>
            </tr>
        }

    </table>

</div>

