@using BelibaHoma.BLL.Enums
@using BelibaHoma.BLL.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/datetimepicker/css")
    @{
        UserModel user = ViewBag.CurrentUser;
    }

    <style>
    </style>
</head>
<body background="~/Content/סתםרקע.jpg">


   
    @* This is the menu per user role below.. *@
    @Html.Action("Index", new { controller = "Menu", area = "" })



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ציוני דרך - פרויקט בליבה חומה</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    @Scripts.Render("~/bundles/datetimepicker/js")
    <script src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable.settings.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
