@using BelibaHoma.BLL.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @{
        UserModel user = ViewBag.CurrentUser;
    }

    <style>
    </style>
</head>
<body background="~/Content/סתםרקע.jpg">


    <div class="navbar navbar-inverse navbar-fixed-top"  id="nav1">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @*@Html.ActionLink("בליבה חומה", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})*@
                <div>
                    <img src="~/Content/לוגו.jpg" alt="לוגו" style="width: 50px; height: 50px; margin-left: 30px;" />
                </div>
            </div>
            @* This is the menu per user role below.. *@
            @Html.Action("Index",new { controller = "Menu" , area = "" })

            <div class="pull-left">

                @if (user != null)
                {
                    <span class="label label-inverse">@String.Format("שלום {0}", user.FullName)</span>
                    <a href="/Login/Logout">התנתק</a>
                   // @Html.ActionLink("התנתק", "Logout", "Login", new { id=string.Empty }, null)
                }
                else
                {
                    @Html.ActionLink("התחבר", "Index", "Login")
                }
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ציוני דרך - פרויקט בליבה חומה</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable.settings.js"></script>
    @RenderSection("scripts", required: false)
        
</body>
</html>
